<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout/layout :: head"></head>


<body>
<div class="nav-header2">
    <nav th:replace="layout/layout :: navbar"></nav>
</div>


<div class="bienvenida">
    <h1 class="titulo-sedes">Atencion Al Usuario</h1>
    <button onclick="location.href='src\views\AboutUs\AboutUs.php'" class="boton-opticitas">
        Contactenos
    </button>

</div>


<div class="contenido-atencion">
    <h2 class="tittle-derechos">Derechos de los pacientes</h2>

    <img class="image-derecho1" th:src="@{/images/imagen-derecho1.jpg}" alt="" width="307px" height="213px">
    <p class="derecho-1">1. Que sus creencias e intimidad sean respetadas, sin que pueda ser discriminado por razones de tipo social, económico, ideológico o político.</p>

    <img class="image-derecho2" th:src="@{/images/imagen-derecho2.jpg}" alt="" width="307px" height="213px">
    <p class="derecho-2">2. La información total sobre todos los servicios a los que puede acceder y los requisitos necesarios para su uso, agotando todas las posibilidades que garanticen su oportunidad y continuidad.</p>

    <img class="image-derecho3" th:src="@{/images/imagen-derecho3.jpg}" alt="" width="307px" height="213px">
    <p class="derecho-3">3. Que se le asigne un médico, cuyo nombre se debe conocer; de igual manera a elegirlo libremente dentro del recurso disponible y a solicitar una segunda opinión en caso de duda.</p>

    <img class="image-derecho4" th:src="@{/images/imagen-derecho4.jpg}" alt="" width="307px" height="213px">
    <p class="derecho-4">4. La salvaguarda y confidencialidad de su historia clínica y su proceso de atención, los cuales sólo con su aprobación podrán ser conocidos.</p>

    <img class="image-derecho5" th:src="@{/images/imagen-derecho5.jpg}" alt="" width="307px" height="213px">
    <p class="derecho-5">5. Que se le entregue certificación de su estado en salud, o copia de su historia clínica, cuando su exigencia se establece por una disposición legal o reglamentaria.</p>

    <img class="image-derecho6" th:src="@{/images/imagen-derecho6.jpg}" alt="" width="307px" height="213px">
    <p class="derecho-6">6. Que sus creencias e intimidad sean respetadas, sin que pueda ser discriminado por razones de tipo social, económico, ideológico o político.</p>

    <img class="image-derecho7" th:src="@{/images/imagen-derecho7.jpg}" alt="" width="307px" height="213px">
    <p class="derecho-7">7. Recibir una atención de salud adecuada, cálida, segura y confiable</p>

    <img class="image-derecho8" th:src="@{/images/imagen-derecho8.jpg}" alt="" width="307px" height="213px">
    <p class="derecho-8">8. Revisar y recibir la información del costo por los servicios obtenidos.</p>

    <img class="image-derecho9" th:src="@{/images/imagen-derecho9.jpg}" alt="" width="307px" height="213px">
    <p class="derecho-9">9. Estar advertido, de sí los procedimientos de diagnóstico y tratamiento pueden ser utilizados en un proyecto docente o de investigación, siendo imprescindible para ello, la previa autorización por escrito del paciente y que en ningún caso represente peligro para su salud.</p>

    <img class="image-derecho10" th:src="@{/images/imagen-derecho10.jpg}" alt="" width="307px" height="213px">
    <p class="derecho-10">10. Que se le dé en términos comprensibles, amplios y claros, tanto a usted como a sus familiares, la información completa sobre su proceso de atención, que incluye las alternativas y riesgos de tratamiento.</p>



</div>

<footer class="footer-servicios" >
    <div th:replace="layout/layout :: footer"></div>
</footer>
</body>
</html>