<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout/layout :: head"></head>


<body>
<nav th:replace="layout/layout :: navbar"></nav>
<div class="contenido-opticita">
    <div class="titulos-opticita">
        <h2 class="TITULO_OPTICITA">Agenda Tu Opticita Ahora</h2>
        <p class="crea-cuenta">Primero crea una cuenta para conocer los horarios disponibles</p>
    </div>

    <div class="container-formulario">
        <form th:object="${paciente}" th:action="@{crearPaciente}" method="post">
            <div class="form-group">
                <label for="nombres" class="control-label"></label>
                <input id="nombres" type="text" class="Nombre" th:field="*{nombres_paciente}" name="nombres" placeholder="Nombres" required="true"/>
                <small></small>
            </div>

            <div class="form-group">
                <label for="apellidos" class="control-label"></label>
                <input id="apellidos" type="text" class="Apellido" th:field="*{apellido_paciente}" name="apellido" placeholder="Apellido" required="true"/>
                <small></small>
            </div>

            <div class="form-group">
                <label for="correo" class="control-label"></label>
                <input id="correo" type="text" class="E-mail" th:field="*{correo_paciente}" name="correo" placeholder="Correo" required="true"/>
                <small></small>
            </div>

            <div class="form-group">
                <label for="direccion" class="control-label"></label>
                <input id="direccion" type="text" class="Direccion" th:field="*{direccion_paciente}" name="correo" placeholder="Direccion" required="true"/>
                <small></small>
            </div>

            <div class="form-group">
                <label for="documento" class="control-label"></label>
                <input id="documento" type="text" class="Numerodedocumento" th:field="*{identificacion_paciente}" name="documento" placeholder="N° Documento" required="true"/>
                <small></small>
            </div>

            <div class="form-group">
                <label for="fechaNacimiento" class="control-label"></label>
                <input id="fechaNacimiento" type="date" class="Fechadenacimiento" th:field="*{fechanacimiento_paciente}" name="fechaNacimiento" placeholder="" required="true"/>
                <small></small>
            </div>

            <div class="form-group">
                <output class="Pais">
                    <label for="idciudad"></label>
                    <select id="idciudad" class="form-control" th:field="*{id_ciudad}" name="idciudad" >
                        <option th:each="ciudad:${ciudad}" th:value="${ciudad.id_ciudad}" th:text="${ciudad.nombre_ciudad}" th:if="${ciudad.estado}==true">

                        </option>
                    </select>
                </output>
            </div>

            <div class="form-group">
                <output class="Optica">
                    <label for="idoptica"></label>
                    <select id="idoptica" class="form-control" th:field="*{id_optica}" name="idoptica" >
                        <option th:each="optica:${optica}" th:value="${optica.id_optica}" th:text="${optica.nombre_optica}" th:if="${optica.estado}==true">

                        </option>
                    </select>
                </output>
            </div>

            <a class="link-listar" th:href="@{/listarPacientes}">Listar Pacientes</a>

            <div class="form-group">
                <div class="form-label">
                    <input type="submit" value="Guardar" class="btn-guardar" />
                </div>
            </div>

        </form>

        <div class="formulario-fondo">
            <h3 class="titulo-fondo">Informacion de Contacto</h3>
            <p class="parrafo-fondo">Llama o envia un correo y nuestro equipo te contactara en menos de 24 horas!</p>
            <span class="celular-fondo">+880 163 675 6208</span>
            <span class="correo-fondo">contact@debuggersstudio.com</span>
            <span class="direccion-fondo">C.c. Unicentro L-1040 Remansos De Sta Inés</span>
            <img class="imagen-formulario" th:src="@{/images/imagen-logo5.png}" alt="logo" width="127px" height="91px">

        </div>

    </div>

</div>
<footer class="footer3" >
    <div th:replace="layout/layout :: footerVistas"></div>
</footer>
</body>
</html>