<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout/layout :: head"></head>


<body>
<nav th:replace="layout/layout :: navbarCRUD"></nav>
<div class="contenido-opticita">
    <div class="titulos-opticita">
        <h2 class="TITULO_OPTICITA">Registra Tu Opticita Ahora</h2>
        <p class="crea-cuenta">Agenda tu cita en el dia de tu preferencia</p>
    </div>

    <div class="container-formulario">
        <form th:object="${citaactualizar}" th:action="@{/editarCita/{id} (id=${citaactualizar.id_cita})}" method="post">
            <div class="form-group">
                <label for="fecha" class="control-label"></label>
                <input id="fecha" type="date" class="Nombre" th:field="*{fecha_cita}" name="fecha" placeholder="Fecha" required="true"/>
                <small></small>
            </div>

            <div class="form-group">
                <label for="precio" class="control-label"></label>
                <input id="precio" type="number" class="Apellido" th:field="*{precio_cita}" name="precio" placeholder="Precio" required="true"/>
                <small></small>
            </div>

            <div class="form-group">
                <label for="eps" class="control-label"></label>
                <input id="eps" type="text" class="E-mail" th:field="*{eps_cita}" name="eps" placeholder="EPS" required="true"/>
                <small></small>
            </div>

            <div class="form-group">
                <label for="motivo" class="control-label"></label>
                <input id="motivo" type="text" class="Direccion" th:field="*{motivo_cita}" name="motivo" placeholder="Motivo" required="true"/>
                <small></small>
            </div>

            <div class="form-group">
                <output class="Pais">
                    <label for="idpaciente"></label>
                    <select id="idpaciente" class="form-control" th:field="*{idPaciente}" name="idpaciente" >
                        <option th:each="paciente:${pac}" th:value="${paciente.id_paciente}" th:text="${paciente.nombres_paciente}" th:if="${paciente.estado}==true">

                        </option>
                    </select>
                </output>
            </div>


            <div class="form-group">
                <output class="Numerodedocumento">
                    <label for="iddoctor"></label>
                    <select id="iddoctor" class="form-control" th:field="*{id_doctor}" name="iddoctor" >
                        <option th:each="doc:${doc}" th:value="${doc.id_doctor}" th:text="${doc.nombre_doctor}" th:if="${doc.estado}==true">

                        </option>
                    </select>
                </output>
            </div>

            <a class="link-listar" th:href="@{/listarCitas.html}">Listar Citas</a>

            <div class="form-group">
                <div class="form-label">
                    <input type="submit" value="Guardar" class="btn-guardar" />
                </div>
            </div>

        </form>

        <div class="formulario-fondo">
            <h3 class="titulo-fondo">Informacion de Contacto</h3>
            <p class="parrafo-fondo">Llama o envia un correo y nuestro equipo te contactara en menos de 24 horas!</p>
            <span class="celular-fondo">+880 163 675 6208</span>
            <span class="correo-fondo">contact@debuggersstudio.com</span>
            <span class="direccion-fondo">C.c. Unicentro L-1040 Remansos De Sta Inés</span>
            <img class="imagen-formulario" th:src="@{/images/imagen-logo5.png}" alt="logo" width="127px" height="91px">

        </div>

    </div>

</div>
<footer class="footer3" >
    <div th:replace="layout/layout :: footerVistas"></div>
</footer>
</body>
</html>