<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout/layout :: head"></head>
<body class="index">
    <nav th:replace="layout/layout :: navbar"></nav>

    <section class="principal">
        <div class="contenido">
            <h1>Contamos Con La Mejor Calidad y Servicio Del Pais</h1>
            <br/>
            <br/>
            <br/>
            <p>Óptica visión, más que un sentido, es una familia que disfruta recorrer el camino, que ve más allá de lo distinto. </p>

            <a href=""> <button  >
                Conocenos
            </button></a>

        </div>

    </section>



</body>
</html>