<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout/layout :: head"></head>

<body>
<nav th:replace="layout/layout :: navbarCRUD"></nav>

<br/>
<h1 class="titulos-tablas-crud" th:text="${titulo}"></h1>
<br/>
<div class="container-tabla">
    <table id="example" class="table table-striped-columns">
        <thead class="table-info">
        <tr>
            <th>Codigo</th>
            <th>Identificacion</th>
            <th>Nombres</th>
            <th>Apellido</th>
            <th>Fecha Nacimiento</th>
            <th>Direccion</th>
            <th>correo</th>
            <th>Ciudad</th>
            <th>Optica</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="paciente: ${pacientes}" th:if="${paciente.estado} == true">

            <td th:text="${paciente.id_paciente}"></td>
            <td th:text="${paciente.identificacion_paciente}"></td>
            <td th:text="${paciente.nombres_paciente}"></td>
            <td th:text="${paciente.apellido_paciente}"></td>
            <td th:text="${paciente.fechaNacimiento_paciente}"></td>
            <td th:text="${paciente.direccion_paciente}"></td>
            <td th:text="${paciente.correo_paciente}"></td>
            <td th:text="${paciente.id_ciudad.nombre_ciudad}"></td>
            <td th:text="${paciente.id_optica.nombre_optica}"></td>


        </tr>
        </tbody>
    </table>
    <a th:href="@{/crearPaciente}" class="btn btn-primary">Registrar Paciente</a>
</div>



<footer class="footer-crud" >
    <div th:replace="layout/layout :: footerVistas"></div>
</footer>
</body>
</html>