<!DOCTYPE html>
<<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout/layout :: head"></head>


<body>
<nav th:replace="layout/layout :: navbarCRUD"></nav>

<h1 class="page-content" th:text="${titulo}"></h1>
<div class="container">
  <table id="example" class="table table-striped-columns">
    <thead class="table-info">
    <tr>

      <th>Id</th>
      <th>Fecha</th>
      <th>Precio</th>
      <th>Eps</th>
      <th>Motivo</th>
      <th>Paciente</th>
      <th>Doctor</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="cita: ${citas}" th:if="${cita.estado} == true">

      <td th:text="${cita.id_cita}"></td>
      <td th:text="${cita.fecha_cita}"></td>
      <td th:text="${cita.precio_cita}"></td>
      <td th:text="${cita.eps_cita}"></td>
      <td th:text="${cita.motivo_cita}"></td>
      <td th:text="${cita.idPaciente.nombres_paciente}"></td>
      <td th:text="${cita.id_doctor.nombre_doctor}"></td>
      <td> <a th:href="@{/eliminarCita/} + ${cita.id_cita}" class="btn btn-danger btn-xs" th:text="'Eliminar'" onclick="return confirm('¿Estas seguro de eliminar el registro?')"></a></td>
      <td> <a th:href="@{/cambiarEstadoCita/} + ${cita.id_cita}" class="btn btn-warning btn-xs" th:text="'Eliminar Estado'" onclick="return confirm('¿Estas seguro de eliminar el estado?')"></a></td>
      <td> <a th:href="@{/editarCita.html/{id} (id=${cita.id_cita})}" class="btn btn-info btn-xs" th:text="'Editar'" ></a></td>

    </tr>
    </tbody>
  </table>
  <a th:href="@{/crearCita}" class="btn btn-primary">Registrar Cita</a>
</div>

<footer class="footer3" >
  <div th:replace="layout/layout :: footer"></div>
</footer>

</body>
</html>