<!DOCTYPE html>
<<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout/layout :: head"></head>


<body>
<nav th:replace="layout/layout :: navbarCRUD"></nav>

<h1 class="titulos-tablas-crud" th:text="${titulo}"></h1>
<br/>
<div class="container-tabla">
  <table id="example" class="table table-striped-columns">
    <thead class="thead-listar">
    <tr>

      <th>Id</th>
      <th>Nombre </th>
      <th>Telefono</th>
      <th>Correo</th>
      <th></th>
      <th></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="proveedor: ${proveedor}" th:if="${proveedor.estado} == true">

      <td th:text="${proveedor.id_proveedor}"></td>
      <td th:text="${proveedor.nombre_proveedor}"></td>
      <td th:text="${proveedor.telefono_proveedor}"></td>
      <td th:text="${proveedor.correo_proveedor}"></td>
      <!--<td> <a th:href="@{/eliminarProveedor/} + ${proveedor.id_proveedor}" class="btn btn-danger btn-xs" th:text="'Eliminar'" onclick="return confirm('¿Estas seguro de eliminar el registro?')"></a></td>-->
      <td> <a th:href="@{/cambiarEstadoProveedor/} + ${proveedor.id_proveedor}" class="btn btn-warning btn-xs" th:text="'Eliminar'" onclick="return confirm('¿Estas seguro de eliminar el estado?')"></a></td>
      <td> <a th:href="@{/editarProveedor/{id} (id=${proveedor.id_proveedor})}" class="btn btn-info btn-xs" th:text="'Editar'" ></a></td>

    </tr>
    </tbody>
  </table>
  <a th:href="@{/crearProveedor}" class="btn btn-primary">Registrar Proveedor</a>
</div>

<footer class="footer-crud" >
  <div th:replace="layout/layout :: footerVistas"></div>
</footer>

</body>
</html>