<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layout/layout :: head"></head>


<body>
<nav th:replace="layout/layout :: navbar"></nav>
<div class="contenido-opticita">
    <div class="titulos-opticita">
        <h2 class="TITULO_OPTICITA">Agenda Tu Opticita Ahora</h2>
        <p class="crea-cuenta">Primero crea una cuenta para conocer los horarios disponibles</p>
    </div>

    <div class="container-formulario">


        <div class="formulario-fondo">
            <h3 class="titulo-fondo">Informacion de Contacto</h3>
            <p class="parrafo-fondo">Llama o envia un correo y nuestro equipo te contactara en menos de 24 horas!</p>
            <span class="celular-fondo">+880 163 675 6208</span>
            <span class="correo-fondo">contact@debuggersstudio.com</span>
            <span class="direccion-fondo">C.c. Unicentro L-1040 Remansos De Sta Inés</span>
            <img class="imagen-formulario" th:src="@{/images/imagen-logo5.png}" alt="logo" width="127px" height="91px">

        </div>

    </div>

</div>
<footer class="footer3" >
    <div th:replace="layout/layout :: footer"></div>
</footer>
</body>
</html>